@import './globals';

.title {
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
}

#planet {
    position: absolute;
    width: 20vw;
    height: 20vw;
    background-image: radial-gradient(#5f5f5e 60%, #848483 90%, #848483 100%);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    left: 95%;
    top: 5%;
}

#ring0 {
    position: absolute;
    width: 25vw;
    height: 5vw;
    background-color: transparent;
    border-left: 3px solid grey;
    border-bottom: 2px solid grey;
    border-radius: 400%;
    transform-origin: 50% 50%;
    transform: translate(-50%, -50%);
    transform: rotate(-20deg);
    right: -20px;
    top: 45px;
}

#ring1 {
    position: absolute;
    width: 30vw;
    height: 6vw;
    background-color: transparent;
    border-left: 3px solid grey;
    border-bottom: 2px solid grey;
    border-radius: 400%;
    transform: translate(-50%, -50%);
    transform: rotate(-20deg);
    right: -25px;
    top: 50px;
}

#ring2 {
    position: absolute;
    width: 35vw;
    height: 7vw;
    background-color: transparent;
    border-left: 3px solid grey;
    border-bottom: 2px solid grey;
    border-radius: 400%;
    transform: translate(-50%, -50%);
    transform: rotate(-20deg);
    right: -30px;
    top: 55px;
}

.ref-container {
    margin-top: 10px;
    text-align: center;
}

#splash-arrow-container {
    position: absolute;
    width: 100vw;
    top: calc(100vh - 100px);
    text-align: center;
}

@media only screen and (max-height: 700px) {
    #splash-arrow-container {
        top: calc(100vh - 40px);
    }
}

#info-tips-help {
    width: 100%;
    margin: 10px auto;
    @media only screen and (max-width: 600px) {
        /* for thin mobile screens */
        font-size: 0.75em;
    }
}

.arrow-container {
    text-align: center;
    padding: 5px;
}

.arrow {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: auto;
    cursor: pointer;
}

.flip {
    /* animation: flip 1s ease-in-out 1s; */
    transform: rotate(180deg)
}

@keyframes flip {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(180deg)}
}

.project-frame {
    margin-bottom: 20px;
    border-bottom: 1px solid grey;
}

.contact-info {
    display: block;
    width: 80%;
    margin: auto;
    padding-top: 20px;
    text-align: center;
}

#stars {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: 0.6;
}

#moon {
    position: absolute;
    display: block;
    left: 70vw;
    top: 10vh;
    width: 80px;
    height: 80px;
    z-index: 0;
}

@media only screen and (max-height: 700px) {
    #moon {
        top: 5vh;    
    }
}

#return-to-top {
    display: inline-block;
    width: 200px;
    color: $title;
    margin: auto;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}