@import 'globals.scss';

html {
    max-width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    color: $orange; 
    background-color: $steel-grey;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

a {
    color: $title;
    text-decoration: none;
}

ul {
    margin: 0px;
}