@import 'globals.scss';

#info-bubble-canvas {
    display: inline-block;
    position: absolute;
}

#info-bubble {
    display: inline-block;
    position: absolute;
    max-width: 300px;
    background-color: $steel-grey;
    border: 2px solid $orange;
    animation: fadein 0.5s;
}

#text-pane {
    display: inline-block;
    position: relative;
    padding: 5px 10px;
    text-align: center;
    font-size: 0.75em;
    font-weight: normal;
    color: $title;
    background-color: $steel-grey;
    white-space: pre-wrap;
}

@keyframes fadein {
    from { opacity: 0;}
    to { opactiy: 1;}
}