@import 'globals.scss';

.project-frame {
    margin-bottom: 20px;
    border-bottom: 2px solid $steel-grey;
}

.project-name {
    padding-top: 10px;
    text-align: center;
    text-decoration: underline !important;
    font-size: 1.25em;
    color: $title;
}

.project-image {
    display: block;
    width: 25vw;
    height: 25vw;
    margin: auto;
}

.project-description {
    max-width: 1500px;
    padding: 0px 10px;
    line-height: 30px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.project-flex-container {
    display: flex;
}

.short-description {
    text-align: center;
}

.more-description {
    display: inline;
    text-align: left;
    overflow: hidden;
    animation: proj-desc-fade-in 1s linear;
}

.list-fade-in {
    animation: proj-desc-fade-in 1s linear;
}

@keyframes proj-desc-fade-in {
    from {opacity: 0; max-height: 0px;}
    to {opacity: 100; max-height: 1600px;}
}

.less-description {
    display: inline-block;
    overflow: hidden;
    animation: proj-desc-fade-out 2s linear;
}

@keyframes proj-desc-fade-out {
    from {opacity: 100; max-height: 1600px;}
    to {opacity: 0; max-height: 40px;}
}

.learn-more {
    width: 200px;
    color: $title;
    margin: auto;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

#starfinder-screenshot {
    width: 30vw;
    height: 30vw;
    min-width: 200px;
    min-height: 200px;
    max-width: 300px;
    max-height: 300px;
    border-radius: 10px;
}

#portfolio-screenshot {
    width: 30vw;
    height: 30vw;
    min-width: 200px;
    min-height: 200px;
    max-width: 300px;
    max-height: 300px;
    border-radius: 10px;
}

#sds-screenshot {
    width: 31vw;
    height: 35vw;
    min-width: 250px;
    min-height: 300px;
    max-width: 350px;
    max-height: 400px;
    border-radius: 10px;
}

#wwa-icon {
    width: 30vw;
    height: 30vw;
    min-width: 200px;
    min-height: 200px;
    max-width: 300px;
    max-height: 300px;
    border-radius: 10px;
}


